.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
 align-items: center;
}
.flex-column {
  flex-flow: column;
}
.items-end {
  align-items: flex-end;
}
.items-start {
  align-items: flex-start;
}